<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	   <!-- JDBC 驱动程序类 -->
	   <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
	   <property name="hibernate.connection.url">jdbc:sqlserver://192.168.28.253:1433; DatabaseName=account</property>
	   <property name="hibernate.connection.username">sa</property>
	   <property name="hibernate.connection.password">123456</property>
	   <property name="hibernate.connection.autocommit">true</property>
	   <!-- 是否显示sql -->
	   <property name="hibernate.show_sql">true</property>
	   <!-- 是否将sql格式化 -->
	   <property name="hibernate.format_sql">true</property>
	   
	   <property name="hbm2ddl.auto">update</property>
	   <!-- 允许获取线程会话 -->
	   <property name="hibernate.current_session_context_class">thread</property>
	   <!-- 下面是映射的类 -->
	   <mapping resource="org/account/orm/model/Account.hbm.xml"/>
	   <mapping resource="org/account/orm/model/Department.hbm.xml"/>
	   <mapping resource="org/account/orm/model/Staff.hbm.xml"/>
	   <mapping resource="org/account/orm/model/Role.hbm.xml"/>
	   <mapping resource="org/account/orm/model/Permission.hbm.xml"/>
	   <mapping resource="org/account/orm/model/Node.hbm.xml"/>
	</session-factory>
</hibernate-configuration>